* {
	margin: 50px;
    color: #fff;
}

body {
    background-color: #003399;
	font-family: Arial, serif;
}

.sub-title {
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

.main-title {
    font-size: 24px;
    font-family: Helvetica, sans-serif;
    margin-bottom: 10px;
}

.contacts {
    background-color: #ff9999;
    color: #000;
}

.github {
    color: #000;
}

.telegram {
    color: #00f;
}

.navbar-nav-svg {
    width: 30px;
}

.icon {
    width: 34px;
    color: #fff;
}

.card {
	padding-bottom: 10px;
	padding-top: 10px;
    border: solid 2px #fff;
	color: black;
    width: auto;
	border-radius: 10px;
	background-color: #ffff99;
}
