* {
	text-align: center;
	color: #fff;
}

body {
	background-color: #003399;
	font-family: Arial;
}

.sub-title {
	margin-bottom: 20px;
	border-radius: 10px;
	padding: 20px;
}

.main-title {
	font-size: 24px;
	font-family: Helvetica;
	margin-bottom: 10px;
}

.active-status {
	background-color: #ffff99;
	margin: 10px;
	margin-bottom: 10px;
	padding: 20px;
	color: #000;
	border-radius: 10px;
}

.achivmnent {
	background-color: #9999ff;
	margin: 15px;
	padding: 20px;
	margin-bottom: 10px;
	color: #000;
	border-radius: 10px;
}

.contacts {
	background-color: #ff9999;
	padding: 20px;
	border-radius: 10px;
	color: #000;
}

.github {
	color: #000;
}

.telegram {
	color: #00f;
}

.navbar-nav-svg {
	width: 30px;
}

.telegram-icon {
	width: 34px;
	color: #fff;
}
