html {
    margin: 10px;
    font-size: 40px;
    color: #ddd;
    font-family: "Georgia", serif;
}

body {
    padding: 30px;
    border: 2px solid #fff;
    background-color: crimson;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.menu {
    display: flex;
    align-content: center;
    align-items: center;
}

.menu a:hover {
    transition: 1.3s;
    display: block;
    border: 7px solid rgba(200, 0, 0);
    border-radius: 50px;
    transform: scale(1.5);
}

.name {
    font-size: 60px;
    place-self: end;
    font-weight: bold;
}

.welcome {
    padding-left: 10px;
}

.projects {
    margin-left: 10px;
    border: 2px solid #fff;
    padding: 20px;
    text-align: right;
}

.project {
    font-size: 90px;
    margin-left: 30px;
}

.link {
    text-decoration: none;
    color: #bbb;
    transition: .3s;
}

.link:hover {
    color: #999;
}
